*{
    margin: 0%;
    font-family: 'Quicksand';
}
body{
    background: #131212;
}
header{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav{
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    padding: 0;
    width: 30%;
}
li {
    display: inline-block;
    position: relative;
}
li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FB0000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav button{
    background-color: red;
    border-radius: 0px 0px 10px 10px;
    border-color: none;
    font-size: 25px;
    font-style: normal;
    font-size: 20px;
    width: 125px
}
li a {
    padding: 0;
}
a, button{
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 17px;
    margin-top: 0;
  
}
nav img{
    width: 68.5px;
    height: 68.5px;
}
main section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.leftside {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
    height: 100%;
}
#imgCodeslank{
    width: 90%;
}
.leftside p{
    color: #DFCDCD;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    width: 90%;
    margin-left: 5%;
}
#imgRightside {
    float: right;
    filter: blur(0.5px);
}
.leftside button{
    border-radius: 3px;
    width: 250px;
    height: 60px;
    color: #FFFFFF;
    background: linear-gradient(257.6deg, #FB0000 -1.23%, #131212 165.57%);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    margin-left: 5%;
}
.sobre{
    display: flex;
    color: #FFFFFF;
    background-image: url(img/Vector.png);
    position: absolute;
    margin: 0%;
    width: 100%;
    background-repeat: no-repeat;
}

.sobre img{
    float: right
}
.text{
    float: left;
    width: 600px;
}
.sobre p{
    font-family: Exo 2;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #DFCDCD;
    margin-top: 1%;

}
.sobre h2{
    font-family: Exo 2;
    font-size: 40px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0.085em;
    text-align: left;

    font-family: Exo 2;
    font-size: 40px;
    font-weight: 800;
    line-height: 47px;
    letter-spacing: -0.055em;
    text-align: left;
    margin-top: 8%

}
::-webkit-scrollbar {
    width: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(257.6deg, #FB0000 -1.23%, #131212 165.57%);
}